
.col-3.sidebar-menu 
    nav.cate
        .side-menu-mobile-header
            h3 Chuyên mục
            span.mdi.mdi-menu
        ul.menu-list
            li(data-tab="tab-1").active
                a(href="javascript:void(0)") Thông tin cá nhân
            li(data-tab="tab-2")
                a(href="javascript:void(0)") Quản lí tin
            li.has-submenu( data-tab="tab-3")
                a(href="javascript:void(0)") Quản lí tài khoản
                ul.submenu
                    li
                        a(href="#") Đổi mật khẩu
