footer.lmp-footer
    .top-wrapper.lmp-section(setBackground='./img/bg_footer.jpg')
        .container
            .row
                .col-lg-4.content-wrapper
                    nav 
                        h2.main-title contact us
                        li
                            
                            .lh
                                em.mdi.mdi-map-marker
                                p Địa chỉ đang được chúng tôi cập nhật
                        li
                            .lh
                                em.fas.fa-phone-volume
                                p 0399.508.8777 
                        li
                            .lh
                                em.mdi.mdi-email
                                p info@landshub.com
                        li
                            .lh 
                                em.mdi.mdi-web
                                p
                                    a(href="") www.landshub.me
                .col-lg-8.form-contact 
                    .row 
                        .col-lg-6.col-12.inp__left
                            input(type="text", name="" class="inp" placeholder="Họ tên")
                            input(type="text", name="" class="inp" placeholder="Phone")
                            input(type="text", name="" class="inp" placeholder="Email")
                        .col-lg-6.col-12.inp__right 
                            textarea(name="", cols="30", rows="10" placeholder="nội dung") 
                            input(type="submit", value="Gửi")
            #gotop.em.mdi.mdi-chevron-up 
    .bottom-wrapper
        .main-wrapper
            .left-wrapper
                .copyright-wrapper
                    <p>Copyright © 2019 LandsHub. <a href="">Website designed </a>by <a href="">Me</a></p> 
                .list-page-wrapper
                    ul
                        li
                            a(href="#") Quy định sử dụng
                        li
                            a(href="#") Điều kiện và điều khoản sử dụng
            .right-wrapper
                .social-wrapper
                    ul
                        li
                            a(href="#")
                                em.fab.fa-facebook-f
                        li
                            a(href="#")
                                em.fab.fa-twitter
                        li
                            a(href="#")
                                em.fab.fa-youtube
                        li
                            a(href="#")
                                em.fab.fa-instagram
        