
footer.footer 
    .container 
        .newsletter-wrap
            .newsletter
                input(type="text" placeholder="Đăng ký nhận bản tin...")
                button.signup-btn Đăng ký   
        .menu-footer-wrap
            .col-ft
                nav.menu
                    h3 sản phẩm
                    ul
                        li
                            a(href="") Sữa rửa mặt
                        li
                            a(href="") toner 
                        li
                            a(href="") serum điều trị 
                        li
                            a(href="") kem dưỡng ẩm/ bảo vệ
                        li
                            a(href="") mắt môi
            .col-ft
                nav.menu
                    h3 sản phẩm
                    ul 
                        li
                            a(href="") mặt nạ
                        li
                            a(href="") sản phẩm đặt biệt 
                        li
                            a(href="") chống nắng
                        li
                            a(href="") professional 
                        li
                            a(href="") viên uống
            .col-ft
                nav.menu
                    h3 giải pháp
                    ul 
                        li
                            a(href="") lão hóa do di truyền 
                        li
                            a(href="") lão hóa do nội tiết
                        li
                            a(href="") nám và lão hóa theo môi trường 
                        li
                            a(href="") giải pháp cho da mụn
                    
            .col-ft
                nav.menu
                    h3 về murad
                    ul 
                        li
                            a(href="") blog 
                        li
                            a(href="") về murad
                        li
                            a(href="") tin tức, sự kiện
                        li
                            a(href="") khuyến mãi 
                        li 
                            a(href="") gặp gỡ chuyên gia murad
                    
            .col-ft
                nav.menu
                    ul.social-icon
                        li
                            a.fb(href="#")
                                em.fab.fa-facebook-f
                        li
                            a.twt(href="#")
                                em.fab.fa-twitter
                        li 
                            a(href="")
                                em.mdi.mdi-linkedin
                        li 
                            a(href="")
                                em.fab.fa-instagram
                        li
                            a.ytb(href="#")
                                em.fab.fa-youtube
    .copyright-wrap
        .container 
            .copyright
                .left
                    p Copyright © 2017 - 2019 Murad Vietnam All Rights Reserved.
                ul.right
                    li
                        a(href="#") Điều khoản 
                    li
                        a(href="#") Chính sách bảo mật
                    li 
                        a(href="") sitemap
