header.header 
    .head-wrap
        .container
            .head
                .head__buy-here 
                    a(href="#") Chọn nơi bạn muốn mua hàng 
                .head__hotline 
                    a(href="tel:1900633345") 
                        i.mdi.mdi-phone
                        | 1900633345
                .head__searchbox 
                    input(type="text", name="" placeholder="Tìm kiếm") 
                    button 
                        i.fas.fa-search 
                .head__language 
                    a(href="#") English
                .head__cart
                    a(href="") 
                        img(src="./img/icon-cart.png", alt="")
                        span shop online 
    .header-bottom
        .container
            .menu-wrapper
                .toggle-btn
                    .button
                .logo
                    a(href="")
                        img(src="./img/logo-murad.jpg", alt="")
                nav.menu 
                    ul.menu__list 
                        li.menu__item
                            a.active.menu__link(href="") trang chủ 
                        li.menu__item
                            a.menu__link(href="") về murad
                        li.menu__item
                            a.menu__link(href="") sản phẩm 
                        li.menu__item 
                            a.menu__link(href="#") giải pháp 
                        li.menu__item
                            a.menu__link(href="") tin tức 
                        li.menu__item
                            a.menu__link(href="") khuyến mãi
                        li.menu__item
                            a.menu__link(href="") blog 
                        li.menu__item
                            a.menu__link(href="") liên hệ
                .button-search 
                    i.fas.fa-search 
                .nav-mobile 
                    .head menu
                .search-wrap
                .back-drop