
section.compare-wrap 
    .container
        .main-title
            span So sánh 
            span Sản phẩm
        .table-responsive
            table.table
                tbody
                    tr 
                        td 
                        td 
                            .item 
                                a(href="javascript:void(0)").remove xóa 
                                    em.mdi.mdi-close
                                figure 
                                    .box-img 
                                        img(src="./img/2.jpg", alt="")
                                    figcaption 
                                        a(href="#").main-title Căn hộ cao cấp 
                                        .address 
                                            em.mdi.mdi-map-marker-outline
                                            span 18 nguyễn chánh sắt
                                        p.price 5 triệu
                                            span \ tháng 
                        td 
                            .item 
                                a(href="javascript:void(0)").remove xóa 
                                    em.mdi.mdi-close
                                figure 
                                    .box-img 
                                        img(src="./img/2.jpg", alt="")
                                    figcaption 
                                        a(href="#").main-title Căn hộ cao cấp 
                                        .address 
                                            em.mdi.mdi-map-marker-outline
                                            span 18 nguyễn chánh sắt
                                        p.price 5 triệu
                                            span \ tháng 
                    tr 
                        td Diện tích 
                        td(attribute="Diện tích") 2100 m2
                        td(attribute="Diện tích") 2100 m2
                        

                    tr 
                        td Phòng Ngủ
                        td(attribute="Phòng ngủ") 3
                        td(attribute="Phòng ngủ") 2
                    tr 
                        td Phòng tắm
                        td(attribute="Phòng tắm") 2
                        td(attribute="Phòng tắm") 2
                    tr 
                        td Gara
                        td(attribute="Gara") 1
                        td(attribute="Gara") 1
                    tr 
                        td Video 
                        td 
                            a(data-fancybox href="https://www.youtube.com/watch?v=kX37bM2XAHk")
                                .video 
                                    .button 
                                        img(src="./img/play.png", alt="")
                                    img(src="./img/2.jpg", alt="")
                        td 
                            a(data-fancybox href="https://www.youtube.com/watch?v=kX37bM2XAHk")
                                .video 
                                    .button 
                                        img(src="./img/play.png", alt="")
                                    img(src="./img/2.jpg", alt="")
.box-compare 
    a(href="javascript:void(0)").zoom.out Thu nhỏ 
        em.mdi.mdi-chevron-down
    .container
        .list-item
            .item.item--1
                .box-img 
                    img(src="./img/2.jpg", alt="")
                .title 
                    a(href="") căn hộ cao cấp
                em.mdi.mdi-close.close
            .item.item--2
                .box-img 
                    img(src="./img/2.jpg", alt="")
                .title 
                    a(href="") căn hộ cao cấp
                em.mdi.mdi-close.close
            .item.item--3
                a(href="javascript:void(0)").button-compare 
                    em.mdi.mdi-repeat
                    span So sánh


            