extends _layout.pug

block var
	- var title = 'so sánh'
	- var bodyClass = 'so sánh-page'

block main
	include ../components/_global/banner
	include ../components/_global/breadcrumb
	include ../components/compare/index
