section.home-banner-1 
    .banner-img
        img(src="./img/bg_banner.jpg", alt="")
    .search-wrapper
        .big-title 
            p.f-2 Tìm kiếm ngôi nhà bạn yêu thích 
        .container
            .searchbox
                .form-group.search-inp
                    input(type="text", name="")
                .form-group.submit
                    input(type="submit", value="Tìm kiếm")
section.home-project.clearfix
    .container 
        h2.main-title Dự án tiêu biểu
        .list-item 
            .item.item--1 
                .img 
                    img(src="./img/pr/1.jpg", alt="")
                .title-first
                    a(href="") dự án himlam
                .promotion 
                    span Đang bán
                .caption 
                    .title 
                        a(href="") dự án Himlam 
                    .brief-content 
                        P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia at, recusandae sunt ab numquam aspernatur dolor hic quas quidem fuga ut porro sit itaque odit est assumenda exercitationem in natus?
                    a(href="").viewdetail chi tiết
            .item.item--2
                .img 
                    img(src="./img/pr/1.jpg", alt="")
                .title-first
                    a(href="") dự án himlam
                .promotion Đang bán
                .caption 
                    .title dự án Himlam 
                    .brief-content 
                        P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia at, recusandae sunt ab numquam aspernatur dolor hic quas quidem fuga ut porro sit itaque odit est assumenda exercitationem in natus?
                    a(href="").viewdetail chi tiết
            .item.item--3
                .img 
                    img(src="./img/pr/1.jpg", alt="")
                .title-first
                    a(href="") dự án himlam
                .promotion Đang bán
                .caption 
                    .title dự án Himlam 
                    .brief-content 
                        P Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia at, recusandae sunt ab numquam aspernatur dolor hic quas quidem fuga ut porro sit itaque odit est assumenda exercitationem in natus?
                    a(href="").viewdetail chi tiết
section.home-news
    .container 
        h2.main-title Tin vừa đăng 
        .row.list-item
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .caption-bottom
                            .created-date 
                                em.mdi.mdi-calendar
                                | 11-11-11
                            .viewdetail 
                                a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
            .col-lg-4.col-md-6.col-sm-12.item
                figure 
                    .img 
                        img(src="./img/pr/1.jpg", alt="")
                        .promotion hot 
                        .location 
                            em.mdi.mdi-map-marker-outline
                            | nhơn trạch, đồng nai
                        a(href="javascript:void(0)").button-compare 
                            em.mdi.mdi-repeat
                            span So sánh
                    figcaption 
                        a.title(href="") Căn hộ river 
                        .price 1 triệu
                        .brief-content 
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                        .viewdetail 
                            a chi tiết
                        .info 
                            .poster 
                                .img 
                                    img(src="./img/2.jpg", alt="")
                                span lê bá vũ 
                            a(href="").contact liên hệ
        .view-more
            a(href="javascript:void(0)") Xem thêm

section.home-utilities 
    .container 
        h2.main-title Mua bán thật dễ dàng với LandsHub
        .row.list-item 
            .col-lg-3.col-6.item 
                figure 
                    .cicre 
                        em.mdi.mdi-account 
                        span 25
                    figcaption 
                        h4 Tạo tài khoản 
                        p Quyết định đưa ra sau khi tìm hiểu thị trường, các thủ tục, thuế & chi phí, mức sinh lời...
            .col-lg-3.col-6.item 
                figure 
                    .cicre 
                        em.mdi.mdi-upload
                        span 50
                    figcaption 
                        h4 Đăng tin quảng bá 
                        p Nhà của bạn được hiển thị lên các kênh quảng bá với đầy đủ thông tin cùng hình ảnh chất lượng cao, chuyên nghiệp.
            .col-lg-3.col-6.item 
                figure 
                    .cicre 
                        em.mdi.mdi-thumb-up
                        span 100
                    figcaption 
                        h4 Liên hệ
                        p Với lợi thế về công nghệ cùng với đội ngũ chuyên viên chuyên nghiệp, Chúng tôi là sự lựa chọn tốt nhất cho bạn.
            .col-lg-3.col-6.item 
                figure 
                    .cicre 
                        em.mdi.mdi-wallet-outline
                        span 500
                    figcaption 
                        h4 Hoàn tất giao dịch
                        p Đàm phán với khách có nhu cầu, chốt giá và cùng hoàn tất các thủ tục, giấy tờ theo quy định.
section.partners-brand
    .container
        h2.main-title Đối tác 
        .main-wrapper
            .brand-list-wrapper
                - for(i=1;i<13;i++)
                    .item
                        a(href="")
                            figure
                                .ic(style='height: 150px;')
                                    img(src="./img/a"+i+".png", alt="")

                    


        