section.home-banner 
    .banner 
        img(src="./img/mr-bg-1.png", alt="")
        .banner-text-content 
            .content
                p Công thức tạo nên sản phẩm là sự kết hợp hài hòa giữa các thành phần điều trị tinh hoa nhất, mang đến hiệu quả bền vững, đồng thời lành tính cho mọi làn da, kể là làn da nhạy cảm.
                .quote-open 
                    img(src="./img/icon-1.png", alt="")
                .quote-close 
                    img(src="./img/icon-2.png", alt="")
section.process-section(setBackground="./img/mr-bg-2.png")
    .container 
        .process-wrapper
            h2.main-title CÔNG TRÌNH NGHIÊN CỨU 10 NĂM TẠO HIỆU QUẢ SAU 7 NGÀY
            .content 
                p Rapid Age Spot Correcting Serum là thành quả từ công trình nghiên cứu suốt 10 năm của đội ngũ chuyên gia và bác sĩ Howard Murad. Với công thức điều trị độc quyền & mang tính cách mạng
                    strong NHP-3
                    | , sản phẩm quyền năng giúp giảm nám hiệu quả chỉ sau 7 ngày.
                p Hoạt chất NHP-3 là sự kết hợp hoàn hảo của 3 thành phần:
                    strong Niacinamide, Hexylresorcinol, Plankton Extract
                    |. Các thành phần này sẽ hoạt động đồng thời, nhằm tạo nên hiệu quả tốt nhất. 
                .list-item
                    .item 
                        img(src="./img/mr-1.png", alt="")
                    .item 
                        img(src="./img/mr-2.png", alt="")
                    .item 
                        img(src="./img/mr-3.png", alt="")
                p Không những thế, sản phẩm còn được bổ sung vitamin C, Oligo-
                    </br> peptides và bột ngọc trai giúp nuôi dưỡng và làm bật tông cho 
                    </br> làn da tối màu.
section.solution-section 
    .container 
        .row
            .col-md-6
                .box-content.box-content--1
                    h3 LÀ GIẢI PHÁP CHO MỌI LÀN DA NÁM KỂ CẢ DA NHẠY CẢM
                    h4 NHP-3 VƯỢT TRỘI HƠN HYDROQUINONE TRONG ĐIỀU TRỊ NÁM DA 
                    p Hydroquinone (HQ) thường được biết đến với tên dihydroxybenzen, là một hợp chất hydroxyphenolic có cấu trúc tương tự với tiền chất của melanin. HQ từng được xem là lựa chọn hàng đầu trong điều trị nám da nhờ khả năng làm mất sắc tố gây đậm màu trên da. Nhưng theo nhiều kết quả nghiên cứu, HQ cũng đồng thời tác động lên cấu trúc màng tế bào melanin, thậm chí tiêu diệt các tế bào này. 
                    p HQ thường được điều chế dưới dạng thuốc bôi với nồng độ 2 – 5% cùng liệu trình điều trị được khuyến khích thường kéo dài tối thiểu 3 tháng đến 1 năm. Tuy nhiên, do đặc tính tẩy mạnh, HQ không thể dùng cho làn da nhạy cảm. 
                .box-img.box-img--1
                    .img
                        img(src="./img/mr-5.png", alt="")
            .col-md-6.mb-reverse
                .box-img.box-img--2
                    .img 
                        img(src="./img/mr-4.png", alt="")
                .box-content.box-content--2
                    .text-note
                        span  Vì tính tẩy mạnh Hydroquinone không thể dùng cho làn da nhạy cảm.
                    p Trong khi Hydroquinone tiềm ẩn khả năng kích ứng đối với những làn da nhạy cảm thì NHP-3 với các thành phần Niacinamide, Hexylresorcinol, Plankton Extract an toàn, thân thiện và ứng dụng cao đối với làn da, được hội đồng Da Liễu công nhận mang hiệu quả vượt trội trong việc điều trị gia tăng sắc tố.
                    p Công thức NHP-3 có trong serum giảm nám 7 ngày Rapid Age Spot Correcting Serum cho phép xoá tan các đốm nâu trên gương mặt như chưa từng xuất hiện, đem đến làn da tươi sáng, rạng rỡ chỉ trong 1 tuần và không làm xuất hiện các dấu hiệu kích ứng. 
                    p 
                        span Không gây kích ứng, cho hiệu quả lâu dài 
                        | là lý do vì sao NHP-3 được ưa chuộng hơn trong điều trị nám da. Sản phẩm có thể kết hợp thêm những sản phẩm đặc trị của các dòng trị liệu khác để có thể nhanh chóng đạt đến làn da lý tưởng. 
section.result-section 
    .container 
        h2.main-title KẾT QUẢ ĐIỀU TRỊ NÁM VỚI RAPID AGE SPOT CORRECTING SERUM
        .brief-content
            p Hiệu quả sản phẩm dù phụ thuộc vào tình trạng da và cơ địa của mỗi người. Tuy nhiên, kết quả chứng minh lâm sàng đã cho thấy rằng, thực tế sau 7 ngày sử dụng có đến: 
        .result-wrap
            .result-slider 
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide 
                            .img 
                                img(src="./img/slider-1.png", alt="")
                        .swiper-slide 
                            .img 
                                img(src="./img/slider-1.png", alt="")
                        .swiper-slide 
                            .img 
                                img(src="./img/slider-1.png", alt="")
                    .swiper-btn-next
                        em.mdi.mdi-chevron-right
                    .swiper-btn-prev
                        em.mdi.mdi-chevron-left
                .images-caption 
                    p (Hình ảnh da thực tế sau quá trình sử dụng sản phẩm, không thông qua chỉnh sửa)
            .result-processor
                .list-item
                    .item
                        .circle 
                            span 74% 
                        .title Nhìn thấy những đốm đen mờ hơn
                    .item
                        .circle
                            span 85%
                        .title Thấy da sáng hơn
                    .item
                        .circle
                            span 78%
                        .title Thấy sự rạng rỡ của da được cải thiện
section.expert-section 
    .container 
        h2.main-title RAPID AGE SPOT CORRECTING SERUM & CHUYÊN GIA 
        .banner
            img(src="./img/mr-8.png", alt="")
        .brief-content 
            p Điều trị nám da là vấn đề vô cùng quan trọng và cấp thiết, bởi không chỉ khiến vẻ ngoài của phụ nữ trở nên kém sắc, mất thẩm mỹ mà còn ảnh hưởng rất lớn đến tâm lý, khiến bạn mất tự tin và vô tình bỏ lỡ nhiều cơ hội tốt đẹp trong cuộc sống. Nếu đã thử qua rất nhiều phương pháp điều trị mà vẫn chưa “tiễn biệt” được những gốc nám cứng đầu thì có thể bạn đã mắc phải những sai lầm:
        .full-content 
            .list-item 
                .item 
                    h3 Tâm lý nóng vội, thiếu kiên nhẫn
                    p Mỗi người có một làn da và tình trạng da khác nhau. Tuỳ theo mỗi phương pháp cụ thể mà việc điều trị nám da cần một thời gian riêng nhất định.Tâm lý nóng vội, không kiên trì thực hiện hết và đủ quy trình trị nám da là nguyên nhân khiến nhiều chị em không thể diệt tận gốc nám sạm.

                .item 
                    h3 Chưa hình thành thói quen chăm sóc da đúng chuẩn
                    p Nhiều người vẫn loay hoay chưa biết làm thế nào để hình thành thói quen chăm sóc da đúng chuẩn, trong đó phải kể đến việc xem nhẹ kem chống nắng, không quan trọng chuyện làm sạch da và chuẩn hoá thực đơn dinh dưỡng mỗi ngày. 

                .item 
                    h3 Lựa chọn phương pháp trị nám da không phù hợp
                    p Hiện nay, phương pháp điều trị nám da vô cùng đa dạng, khiến các chị em băn khoăn trong việc lựa chọn, dễ dẫn đến quyết định sai lầm. Chẳng những mất tiền cho quá trình điều trị mà hàng loạt các biến chứng nguy hại khác sẽ xảy ra như tổn thương da, viêm da, thậm chí là ung thư da. 
section.step-by-step(setBackground="./img/mr-bg-4.png")
    .text-divider PHÁC ĐỒ ĐIỀU TRỊ CHO HIỆU QUẢ TRONG 7 NGÀY 
        </br>CỦA BÁC SĨ THIÊN TÀI HOWARD MURAD
    span.note Sử dụng: Sáng & Chiều
    .container
        .list-item 
            .item 
                .img 
                    img(src="./img/mr-9.png", alt="")
                .content 
                    span Bước 1: 
                    p Làm sạch da với sữa rửa mặt Essential-C Cleanser. 
            .item 
                .img 
                    img(src="./img/mr-10.png", alt="")
                .content 
                    span Bước 2: 
                    p Thoa Rapid Age Spot Correcting Serum đúng liều lượng được chỉ định.
            .item 
                .img 
                    img(src="./img/mr-11.png", alt="")
                .content 
                    span Bước 3: 
                    p Dùng kem chống nắng vào ban ngày và Kem dưỡng ẩm City Skin Overnight Detox
ssection.prize-section 
    .container 
        h2.main-title Các giải thưởng 
        .prize-slider 
            .swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        .img 
                            img(src="./img/brand-1.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/brand-2.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/brand-3.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/brand-3.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/brand-4.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/brand-5.png", alt="")
            .swiper-btn-next
                em.mdi.mdi-chevron-right
            .swiper-btn-prev
                em.mdi.mdi-chevron-left
section.product-section 
    .container 
        .product-wrapper
            .pro-buy
                .head 
                    h4 mua
                .item 
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide 
                                figure 
                                    .figure-img 
                                        .img 
                                            img(src="./img/mr-12.png", alt="")
                                        .swiper-btn-next
                                            em.mdi.mdi-chevron-right
                                        .swiper-btn-prev
                                            em.mdi.mdi-chevron-left
                                    figcaption 
                                        .caption-top
                                            a.title(href="") RAPID AGE SPOT CORRECTING SERUM
                                            span.sub-title Serum giảm nám 7 ngày
                                        .caption-bottom
                                            span.price 2.588.000 ₫
            .pro-donate
                .head 
                    h4 Chọn sản phẩm tặng kèm
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide 
                            .item 
                                figure 
                                    .img 
                                        img(src="./img/mr-13.png", alt="")
                                    figcaption 
                                        .caption-top
                                            a.title(href="") NUTRIENT CHARGED WATER GEL
                                            span.sub-title Gel sạc nước dinh dưỡng, giữ ẩm đến 5 ngày
                                        .caption-bottom
                                            span.price 1.863.000 ₫
                    .swiper-btn-next
                        em.mdi.mdi-chevron-right
                    .swiper-btn-prev
                        em.mdi.mdi-chevron-left
            .order-btn 
                a(href="") đặt hàng ngay
section.review-section(setBackground="./img/mr-bg-3.png")
    h2.main-title ĐÁNH GIÁ CỦA KHÁCH HÀNG
    .amount-review 
        strong 101 
        | Lượt đánh giá
    .container 
        table.table
            tr.item
                td.rating
                    .list-item-rating
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                    .name Cam Han Ng
                td.content 
                    p Phiên bản sức mạnh này có hiệu chỉnh sắc tố kỳ diệu, các đốm nâu trên bề mặt da dường như biến mất trong vòng một tuần.
            tr.item 
                td.rating
                    .list-item-rating
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                    .name Tran Linh
                td.content 
                    p Sản phẩm thật nhẹ nhàng, thậm chí hoàn hảo cho da nhạy cảm. Tôi thích sử dụng vào ban đêm để sản phẩm phát huy sự kỳ diệu trên làn da.
            tr.item 
                td.rating
                    .list-item-rating
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                        em.fas.fa-star
                    .name Nguyễn Mai Sơn
                td.content 
                    p Đây là một sản phẩm tôi không bao giờ muốn thiếu!
            tr.item 
                td
                    .rating-box
                        .rating-container
                            input(id="star-5" type='radio', name='rating', value='5')
                            label(for='star-5')
                                em.far.fa-star
                            input(id="star-4" type='radio', name='rating', value='4')
                            label(for='star-4')
                                em.far.fa-star
                            input(id="star-3" type='radio', name='rating', value='3')
                            label(for='star-3')
                                em.far.fa-star
                            input(id="star-2" type='radio', name='rating', value='2')
                            label(for='star-2')
                                em.far.fa-star
                            input( id="star-1" type='radio', name='rating', value='1')
                            label(for='star-1')
                                em.far.fa-star
                td.content
                    textarea(name="", cols="30", rows="10" placeholder="Để lại đánh giá của bạn")
                    .send-btn
                        a(href="")  Gửi
            tr.item 
            tr.item 
            tr.item 
            tr.item 
                td
                    .rating-box
                        .rating-container
                            input(id="star-5" type='radio', name='rating', value='5')
                            label(for='star-5')
                                em.far.fa-star
                            input(id="star-4" type='radio', name='rating', value='4')
                            label(for='star-4')
                                em.far.fa-star
                            input(id="star-3" type='radio', name='rating', value='3')
                            label(for='star-3')
                                em.far.fa-star
                            input(id="star-2" type='radio', name='rating', value='2')
                            label(for='star-2')
                                em.far.fa-star
                            input( id="star-1" type='radio', name='rating', value='1')
                            label(for='star-1')
                                em.far.fa-star
                td.content
                    textarea(name="", cols="30", rows="10" placeholder="Để lại đánh giá của bạn")
                    .send-btn
                        a(href="")  Gửi
        #pagination-container
        .get-info-btn 
            a#modal(href="javascript:void(0)") nhận thông tin tư vấn
        .modal
            .modal-overlay
            .modal-body 
                .close-btn 
                    em.mdi.mdi-close
                .modal-inner 
                    form.form(action="")
                        h4 Vui lòng nhập đầy đủ thông tin cá nhân
                        .form-group
                            label(for="") Tên đầy đủ: 
                            input(type="text", name="") 
                        .form-group
                            label(for="") Email:
                            input(type="text", name="") 
                        .form-group
                            label(for="") Số điện thoại: 
                            input(type="text", name="") 
                        .form-group
                            label(for="") Địa chỉ: 
                            input(type="text", name="") 
                        .form-group
                            label(for="") Thành phố: 
                            input(type="text", name="") 
                        .form-group
                            label(for="") Tình trạng da của bạn: 
                            input(type="text", name="") 
                        button(type="submit") Gửi

        .info-wrapper
            .info 
                p Murad là thương hiệu chăm sóc và đặc trị da cấp độ Bác sĩ với những công thức kê toa được phát triển độc quyền bởi giáo sư – bác sĩ Howard Murad. Xuyên suốt hành trình 30 năm tạo dựng và phát triển không ngừng, thương hiệu bác sĩ Murad nhận được sự tín nhiệm của hơn 30.000 chuyên gia uy tín hàng đầu trong lĩnh vực Da liễu và hàng loạt ngôi sao trên toàn thế giới tin dùng nhiều năm.
                p Để được tư vấn, khám và siêu âm da miễn phí, quý khách hàng có thể đến trực tiếp showroom Murad chính hãng tại Việt Nam:

                .address 
                    .icon
                        em.mdi.mdi-map-marker 
                    span 397B Võ Văn Tần, Phường 5, Quận 3, TP.Hồ Chí Minh
            .contact 
                p Để được hỗ trợ trực tiếp bởi chuyên viên tư vấn, liên hệ Hotline tổng đài:
                .call 
                    img(src="./img/icon-call.png", alt="")
                    .phone 
                        a(href="tel: 1900633345") 1900 633 345
                p Hoặc Hệ thống Đại lý ủy quyền trên toàn quốc Ngoài ra, thông tin chi tiết khuyến mãi và mua hàng có thể xem tại:
                ul.contact-address 
                    li 
                        .icon
                            em.mdi.mdi-web
                        a(href="") www.muradvietnam.vn
                    li 
                        .icon
                            em.mdi.mdi-facebook
                        a(href="") www.facebook.com/murad.com.vn/