.col-md-9
    .form-post 
        h2.main-title Thông tin cơ bản 
        .form-wrap 
            .row
                .col-md-12.form-group
                    label(for="") Họ tên
                    input(type="text", name="")
            .row 
                .col-md-6.form-group
                    label(for="") Giá 
                    input(type="text", name="")
                .col-md-6.form-group 
                    label(for="") Đơn vị 
                    .custom-select
                        select
                            option(value="1") Đơn vị 
                            option(value="2") Triệu 
                            option(value="3") Tỷ
            .row 
                .col-md-6.form-group 
                    label(for="") Danh mục 
                    .custom-select
                        select
                            option(value="1") Đơn vị 
                            option(value="2") Triệu 
                            option(value="3") Tỷ
                .col-md-6.form-group 
                    label(for="") Dự án
                    .custom-select
                        select
                            option(value="1") Đơn vị 
                            option(value="2") Triệu 
                            option(value="3") Tỷ
            .row 
                .col-md-6.form-group 
                    label(for="") Bản đồ
                    input#pac-input.controls(type='text', placeholder='địa chỉ')
                .col-md-6.form-group 
                    label(for="") ảnh đại diện
                    #msg
                    form#image-form(method='post')
                        input.file(type='file', name='img[]', accept='image/*')
                        .input-group.my-3
                            input#file.form-control(type='text', disabled='', placeholder='Upload File')
                        .input-group-append
                            button.browse.btn.btn-primary(type='button') browser
                    .img-wrapper
                        img#preview.img-thumbnail(src='https://placehold.it/150x150')

            h2.main-title Thông tin mô tả
            .row 
                .col-md-12.form-group 
                    label(for="") Nội dung
                    #editor1
            .row 
                .col-md-12.form-group 
                    label(for="") Mô tả 
                    textarea(name="", cols="30", rows="10")
            .row 
                .col-md-12.form-group
                    label(for="") Hình ảnh
                    .upload-img
                        input(id="files" multiple="true" name="files[]" type="file")
                        output(id="list")
            h2.main-title Thông tin liên hệ
            .row 
                .col-md-4.form-group  
                    label(for="") Họ tên 
                    input(type="text", name="")
                .col-md-4.form-group  
                    label(for="") Email
                    input(type="text", name="")
                .col-md-4.form-group  
                    label(for="") Số điện thoại
                    input(type="text", name="")
            .row 
                .col-md-12.button-submit 
                    input(type="submit" value="Đăng tin")
                
            