.sign-up
    form.sign-up__form(action='javascript:void(0)')
        .sign-up__content
            h2.sign-up__title Đăng nhập
            input.sign-up__inp(type='email' placeholder='Email' required='required')
            input.sign-up__inp(type='password' placeholder='Mật khẩu' required='required')
            a.forgot__password Quên mật khẩu
        .sign-up__buttons
            a.btn.btn--register(href='#register') Tạo tài khoản
            button.btn.btn--signin(type='submit') Đăng nhập