.list-project 
    .container
        .title-sort 
            h1.f-2 Dự án
            .select
                .custom-select
                    select
                        option(value="1") Sắp xếp theo
                        option(value="2") mới nhất
                        option(value="3") giá cao nhất
        ol.list.list-view-filter
            li 
                .item
                    figure 
                        .figure-img 
                            img(src="./img/pr/1.jpg", alt="")
                            .promotion hot 
                            .location 
                                em.mdi.mdi-map-marker-outline
                                | nhơn trạch, đồng nai
                            a(href="javascript:void(0)").button-compare 
                                em.mdi.mdi-repeat
                                span So sánh
                        figcaption 
                            a.title(href="") Căn hộ river 
                            .price 1 triệu
                            .brief-content 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                            .caption-bottom
                                .created-date 
                                    em.mdi.mdi-calendar
                                    | 11-11-11
                                .viewdetail 
                                    a chi tiết
                            .info 
                                .poster 
                                    .img 
                                        img(src="./img/2.jpg", alt="")
                                    span lê bá vũ 
                                a(href="").contact liên hệ
            li 
                .item
                    figure 
                        .figure-img 
                            img(src="./img/pr/1.jpg", alt="")
                            .promotion hot 
                            .location 
                                em.mdi.mdi-map-marker-outline
                                | nhơn trạch, đồng nai
                            a(href="javascript:void(0)").button-compare 
                                em.mdi.mdi-repeat
                                span So sánh
                        figcaption 
                            a.title(href="") Căn hộ river 
                            .price 1 triệu
                            .brief-content 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                            .caption-bottom
                                .created-date 
                                    em.mdi.mdi-calendar
                                    | 11-11-11
                                .viewdetail 
                                    a chi tiết
                            .info 
                                .poster 
                                    .img 
                                        img(src="./img/2.jpg", alt="")
                                    span lê bá vũ 
                                a(href="").contact liên hệ
            li 
                .item
                    figure 
                        .figure-img 
                            img(src="./img/pr/1.jpg", alt="")
                            .promotion hot 
                            .location 
                                em.mdi.mdi-map-marker-outline
                                | nhơn trạch, đồng nai
                            a(href="javascript:void(0)").button-compare 
                                em.mdi.mdi-repeat
                                span So sánh
                        figcaption 
                            a.title(href="") Căn hộ river 
                            .price 1 triệu
                            .brief-content 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                            .caption-bottom
                                .created-date 
                                    em.mdi.mdi-calendar
                                    | 11-11-11
                                .viewdetail 
                                    a chi tiết
                            .info 
                                .poster 
                                    .img 
                                        img(src="./img/2.jpg", alt="")
                                    span lê bá vũ 
                                a(href="").contact liên hệ
            li 
                .item
                    figure 
                        .figure-img 
                            img(src="./img/pr/1.jpg", alt="")
                            .promotion hot 
                            .location 
                                em.mdi.mdi-map-marker-outline
                                | nhơn trạch, đồng nai
                            a(href="javascript:void(0)").button-compare 
                                em.mdi.mdi-repeat
                                span So sánh
                        figcaption 
                            a.title(href="") Căn hộ river 
                            .price 1 triệu
                            .brief-content 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                            .caption-bottom
                                .created-date 
                                    em.mdi.mdi-calendar
                                    | 11-11-11
                                .viewdetail 
                                    a chi tiết
                            .info 
                                .poster 
                                    .img 
                                        img(src="./img/2.jpg", alt="")
                                    span lê bá vũ 
                                a(href="").contact liên hệ
            li 
                .item
                    figure 
                        .figure-img 
                            img(src="./img/pr/1.jpg", alt="")
                            .promotion hot 
                            .location 
                                em.mdi.mdi-map-marker-outline
                                | nhơn trạch, đồng nai
                            a(href="javascript:void(0)").button-compare 
                                em.mdi.mdi-repeat
                                span So sánh
                        figcaption 
                            a.title(href="") Căn hộ river 
                            .price 1 triệu
                            .brief-content 
                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                            .caption-bottom
                                .created-date 
                                    em.mdi.mdi-calendar
                                    | 11-11-11
                                .viewdetail 
                                    a chi tiết
                            .info 
                                .poster 
                                    .img 
                                        img(src="./img/2.jpg", alt="")
                                    span lê bá vũ 
                                a(href="").contact liên hệ
            