.project-detail 
    .container 
        .page-title 
            h1.f-2 demo 
            .price.f-2 1 triệu
        .row 
            .col-lg-9
                h2.main-title Hình ảnh
                .project-gallery 
                    .swiper-container.gallery-top
                        .swiper-wrapper 
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                        .swiper-button-prev
                            em.lnr.lnr-chevron-left
                        .swiper-button-next
                            em.lnr.lnr-chevron-right
                    .swiper-container.gallery-thumbs
                        .swiper-wrapper 
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                            .swiper-slide 
                                img(src="./img/pr/1.jpg", alt="")
                .description 
                    h2.main-title Mô tả
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic odit iure voluptas exercitationem vero dolorem est, beatae culpa officia officiis et deserunt assumenda earum ex eos, corrupti cumque ea eius?
                .infomation
                    h2.main-title Thông tin chi tiết
                    .contain
                        table.table 
                            tbody
                                tr 
                                    td ngày đăng  
                                    td 11
                                tr 
                                    td diện tích 
                                    td 200
                                tr 
                                    td diện tích 
                                    td 200
                                tr 
                                    td diện tích 
                                    td 200
                        .maps 
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2668982195773!2d106.67997221518023!3d10.790858692311755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d35939c66f%3A0xe52e3ed732b15272!2sFPT%20Polytechnic%20HCM!5e0!3m2!1sen!2s!4v1576612297701!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")
                .about 
                    h2.main-title Giới thiệu 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id praesentium, fugiat amet blanditiis iusto soluta illo veniam? Laboriosam est exercitationem quod ipsum corporis voluptatem, obcaecati ratione sed cum beatae vitae!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate consectetur assumenda eos excepturi saepe nemo alias veritatis aperiam. Voluptatum reiciendis maxime dicta a accusamus sit consequatur quis atque in!
                    img(src="./img/1.jpg", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel soluta consequuntur quos, minus accusantium nobis delectus sint mollitia natus hic itaque? Adipisci illum laborum corporis maxime! Totam placeat accusantium impedit.
                .contact 
                    h2.main-title Liên hệ
                    .wrapper
                        .info
                            .top 
                                .img
                                    img(src="./img/pr/1.jpg", alt="")
                                span Lê Bá Vũ 
                            .bottom 
                                table.table 
                                    tbody
                                        tr 
                                            td Số điện thoại
                                            td 0399508877
                                        tr 
                                            td Email 
                                            td vulbps06887@fpt.edu.vn
                        .form 
                            input(type="text", name="")
                            input(type="text", name="")
                            input(type="text", name="")
                            textarea(name="", cols="30", rows="10")
                            input(type="submit", value="Gửi")



            .col-lg-3.other-project
                h2.main-title Dự án khác
                .list-item 
                    .item
                        figure 
                            .img 
                                img(src="./img/pr/1.jpg", alt="")
                                .promotion hot 
                                .location 
                                    em.mdi.mdi-map-marker-outline
                                    | nhơn trạch, đồng nai
                                a(href="javascript:void(0)").button-compare 
                                    em.mdi.mdi-repeat
                                    span So sánh
                            figcaption 
                                a.title(href="") Căn hộ river 
                                .price 1 triệu
                                .brief-content 
                                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                                .caption-bottom
                                    .created-date 
                                        em.mdi.mdi-calendar
                                        | 11-11-11
                                    .viewdetail 
                                        a chi tiết
                                .info 
                                    .poster 
                                        .img 
                                            img(src="./img/2.jpg", alt="")
                                        span lê bá vũ 
                                    a(href="").contact liên hệ
                    .item
                        figure 
                            .img 
                                img(src="./img/pr/1.jpg", alt="")
                                .promotion hot 
                                .location 
                                    em.mdi.mdi-map-marker-outline
                                    | nhơn trạch, đồng nai
                                a(href="javascript:void(0)").button-compare 
                                    em.mdi.mdi-repeat
                                    span So sánh
                            figcaption 
                                a.title(href="") Căn hộ river 
                                .price 1 triệu
                                .brief-content 
                                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                                .caption-bottom
                                    .created-date 
                                        em.mdi.mdi-calendar
                                        | 11-11-11
                                    .viewdetail 
                                        a chi tiết
                                .info 
                                    .poster 
                                        .img 
                                            img(src="./img/2.jpg", alt="")
                                        span lê bá vũ 
                                    a(href="").contact liên hệ
                    .item
                        figure 
                            .img 
                                img(src="./img/pr/1.jpg", alt="")
                                .promotion hot 
                                .location 
                                    em.mdi.mdi-map-marker-outline
                                    | nhơn trạch, đồng nai
                                a(href="javascript:void(0)").button-compare 
                                    em.mdi.mdi-repeat
                                    span So sánh
                            figcaption 
                                a.title(href="") Căn hộ river 
                                .price 1 triệu
                                .brief-content 
                                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam ut vero et corrupti est accusamus ad deleniti illo.
                                .caption-bottom
                                    .created-date 
                                        em.mdi.mdi-calendar
                                        | 11-11-11
                                    .viewdetail 
                                        a chi tiết
                                .info 
                                    .poster 
                                        .img 
                                            img(src="./img/2.jpg", alt="")
                                        span lê bá vũ 
                                    a(href="").contact liên hệ
                    


